{% assign alt = include.alt | default: include.caption | default: "" %}

<figure class="figure">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
      aria-label="{{ include.link_label | default: include.caption | default: alt | escape }}"
    {% endif %}
    class="figure-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      style="
        width: {{ include.width | default: "auto" }};
        max-height: {{ include.height | default: "unset" }};
      "
      alt="{{ alt | escape }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
